<!doctype html>
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<html lang="en">
    <head>
        <title>Hashicorp Learn</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" property="og:description" content="Learn how to provision, secure, connect, and run any infrastructure for any application.">
        <link rel="icon" type="image/png" href="https://learn.hashicorp.com/static/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="https://learn.hashicorp.com/static/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="https://learn.hashicorp.com/static/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="https://learn.hashicorp.com/static/img/favicons/favicon-192x192.png" sizes="192x192">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;display=swap">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel='stylesheet' href='/css/app.css' />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://knockoutjs.com/downloads/knockout-3.5.1.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="container p-3">
            <header>
                <a href="https://www.hashicorp.com/" target="_blank">
                    <img src="/css/img/HashiCorp_PrimaryLogo_Black.png" />
                    <span>Learn</span>
                </a>
                <hr />
            </header>
            <section>
                {{{body}}}
            </section>
            <footer>
                <p>Copyright Hashicorp {{year}} &copy; All Rights Reserved </p>
            </footer>
        </div>
    </body>
</html>