version: "3"
virtualmachines:
- name: hashistack-server
  image: instruqt-hashicorp/hashistack-2004-0-13-1
  shell: /bin/bash -l
  environment:
    CONSUL_HTTP_ADDR: hashistack-server:8500
    VAULT_ADDR: http://127.0.0.1:8200/
  machine_type: n1-standard-1
- name: hashistack-client-1
  image: instruqt-hashicorp/hashistack-2004-0-13-1
  shell: /bin/bash -l
  environment:
    CONSUL_HTTP_ADDR: hashistack-client-1:8500
    VAULT_ADDR: http://active.vault.service.consul:8200/
  machine_type: n1-standard-1
- name: hashistack-client-2
  image: instruqt-hashicorp/hashistack-2004-0-13-1
  shell: /bin/bash -l
  environment:
    CONSUL_HTTP_ADDR: hashistack-client-2:8500
    VAULT_ADDR: http://active.vault.service.consul:8200/
  machine_type: n1-standard-1
